body
    background-color: black;

.header
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;

.title
    color: white;
    text-align: center;
    margin-bottom: 0px;
    font-size: 50px;

.game-status
    color: white;
    text-align: center;
    margin-top: 5px;

.current-player
    color: white;
    text-align: center;
    margin-top: 0px;

.reset-btn
    width: 100px;
    margin: auto;

.game-content
    color: white;
    margin: auto;
    display: grid;
    grid-template-rows: repeat(8, 100px);
    grid-row-gap: 0px;
    justify-content: center;
    color: #000000;
    background-color: #000000;

.row
    display: grid;
    grid-template-columns: repeat(8, 100px);

.square
    line-height: 3.3;
    text-align: center;
    background-color: white;
    font-size: 28px;
    transition: all .5s;
    border-color: gray;
    border-style: solid;
    border-width: 3px;
.row:first-child .square:first-child
    border-width: 6px 3px 3px 6px;
.row:first-child .square:last-child
    border-width: 6px 6px 3px 3px;
.row:first-child .square
    border-width: 6px 3px 3px 3px;

.row:last-child .square:first-child
    border-width: 3px 3px 6px 6px;
.row:last-child .square:last-child
    border-width: 3px 6px 6px 3px;
.row:last-child .square
    border-width: 3px 3px 6px 3px;
.square:first-child
    border-width: 3px 3px 3px 6px;
.square:last-child
    border-width: 3px 6px 3px 3px;




.game-content .row .square:hover
    background-color: #707070;
    cursor: pointer;

.square.black_square
  background-color: #000000;
  color: white;

.row .possible_lz.square 
  background-color: #cc4545;

.row .active_piece.square
    background-color: #729e5d;

